
#main {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    position: relative;
    left: 30vw;
    top: 25vh;
    gap: 3vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#postcontent {
    max-width: 400px;
    font-size: 23px;
    font-weight: 500;
}
#username {
    color: white;
    text-transform: capitalize;
    transition: 200ms;
}

#username:hover {
    font-size: 25px;
    transition: 200ms;
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}