

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    top: 20vh;
    flex-direction: column;
    gap: 10vh;
}
#main-title {
    font-size: 36px;
    color: white;
    font-family: var(--font);
    font-weight: 600;
}

#first-description {
    color: white;
    font-size: 20px;
    font-family: var(--font);
    width: 600px;
    font-weight: 500;
}